header, footer, aside, nav, form, iframe, .menu, .hero, .adslot, .sidebar, .printbutton {
    display: none;
  }

@media print {
    .sidebar, .printbutton {
        display: none;
    }
    .content {
        margin: 0 auto;
        max-width: 600px; 
    }
}
