header, footer, aside, nav, form, iframe, .menu, .hero, .adslot, .sidebar, .printbutton {
    display: none;
  }

  @media print {
    .sidebar, .printbutton {
        display: none;
    }

    /* Center the content for printing */
    .content-container {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh; /* Ensure content takes full height */
    }

    /* Reset centering for child elements */
    .content-container center {
        display: initial;
    }
}
