.centered-content {
    margin: 0 auto;
    max-width: 90%
}
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  margin-top: 10px;
}

.active {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 2s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.sidebar {
    transition-duration: 0.4s;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 250px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
    z-index: 1;
}

.bottom {
    font-size: 30;
    margin-top: auto;
    margin-bottom: 20px;
    border: #ccc;
    border-radius: 10px;
    text-align: center;
}

.sidebar a {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
    font-weight: normal;
    font-size: 17;
}

.sidebar a.active {
    background-color: #b7232b;
    color: white;
}

.sidebar a:hover:not(.active) {
    background-color: #f7941d;
    color: white;
}

.dark-mode .sidebar {
    background-color: #333;
}

.dark-mode .sidebar a.active {
    background-color: #555; 
}

.dark-mode .sidebar a {
    color: #fff;
}

.dark-mode {
    background-color: black;
    color: white;
  }

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: auto;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}

}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
  
}

.dark-mode img.one{
    filter: saturate(50%);
}

img.one {
    object-fit: scale-down;
    max-width: 100%;
    height: auto;
    display: block;
    cursor: pointer;
    margin-top: 0px !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
    padding-top: 0 !important;
    transition-duration: 0.4s;
    z-index:0;

}
img.menus {
    object-fit: scale-down;
    max-width: 80%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;  
    margin-top: 0px !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
    padding-top: 0 !important;
    border: 5px solid;
}

h1 {
    display: inline;
    color: rgb(0, 0, 0);
    font-size:50;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition-duration: 0.4s;
}

h2{
    text-align: center;
    width: 70%;
    padding: 10px;
    border-radius: 15px;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
    border-style: solid;
    border-color: #ccc;
    color: rgb(0, 0, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: white;
    transition-duration: 0.4s;
}

h3{
    color:black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40;
    transition-duration: 0.4s;
}
h4{
    color:red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40;
    transition-duration: 0.4s;
}
h5{
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    background-color: #ffaa34;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 10px;
    border-radius: 20px 20px 0px 0px;
    transition-duration: 0.4s;
}
h6{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30;
    margin-top: 40px !important;
    margin-bottom: 20px !important;
    transition-duration: 0.4s;
}
h7{
    color:#bc1e2e;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30;
    background-color: #ffaa34 !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    padding: 10px;
    border-radius: 0px 0px 20px 20px;
    transition-duration: 0.4s;
}
h8{
    text-align: center;
    width: 70%;
    padding: 10px;
    border-radius: 15px;
    margin-top: 40px;
    border-style: solid;
    border-color: grey;
    color: rgb(0, 0, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: white;
    font-size: 20;
    transition-duration: 0.4s;
}
h9{
    color:black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40;
    transition-duration: 0.4s;
}
h10{
    display: inline;
    text-align: center;
    font-size: 20;
    padding: 5px;
    border-radius: 15px;
    border-style: solid;
    border-color: #ccc;
    margin-top: 5px;
    color: rgb(0, 0, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: white;
    transition-duration: 0.4s;
}
h11{
    display: inline;
    color: black;
    font-size:90;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition-duration: 0.4s;
}
h12{
    color: black;
    font-size:30;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition-duration: 0.4s;
}
h13{
    color:black;
    font-size: 20;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition-duration: 0.4s;
}
h14{
    color: black;
    font-size:30;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left !important;
    transition-duration: 0.4s;
}


/* Dark mode styles for the text */
.dark-mode h1 {
    color: white;
}


.dark-mode h2 {
    color: white;
    background-color: #a8a7a756;
    border-color: grey;
}

.dark-mode h3 {
    color: white;
}

.dark-mode h4{
    color:#7e2f37;
}

.dark-mode h5{
    color: black;
    background-color: #cc9a5f;
}

.dark-mode h6{
    color: white

}

.dark-mode h7{
    color:#b30e1f;
    background-color: #ffaa34 !important;

}

.dark-mode h8{
    border-color: grey;
    color: black;
    background-color: grey;
}

.dark-mode h9{
    color:white;
}

.dark-mode h10 {
    color: white;
    background-color: #333;
}

.dark-mode h11 {
    color: white;
}

.dark-mode h12 {
    color: white;
}
.dark-mode h13{
    color:white;
}
.dark-mode h14{
    color: white;
}

label{
    display: inline-block;
    border-radius: 9px;
    border: solid 4px #8080805c;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 16px;
    font-size: x-large;
    transition-duration: 0.4s;
}
label:hover, label:active {
    background: #2727352e
}

.dark-mode label{
    display: inline-block;
    border-radius: 9px;
    border: solid 4px grey;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 16px;
    font-size: x-large;
    transition-duration: 0.4s;
}
.dark-mode label:hover, label:active {
    background: #1d1d24
 }

ul li{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

progress {
    width: 0;
    min-width: 100%;
    height: 25px;
    border-radius: 0px 0px 20px 20px
}

progress::-webkit-progress-bar {
    border: 0;
    height: 40px;
    border-radius: 0px 0px 20px 20px
}
progress::-webkit-progress-value {
    border: 0;
    height: 40px;
    border-radius: 0px 0px 0px 20px;
}
progress::-moz-progress-bar {
    border: 0;
    height: 40px;
    border-radius: 0px 0px 20px 20px
}

.buttonmanagerlogin {
    height: 80px;
    width: 160px;
    color: white;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    font-size: 30px;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 0px;
    margin-bottom: 50px !important;
    background-color: #087E8B;
    cursor: pointer;
}

.buttonsignup {
    height: 80px;
    width: 160px;
    color: white;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    font-size: 30;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 50px !important;
    margin-bottom: 20px !important;
    background-color: #087E8B;
    cursor: pointer;
}

.buttonloginpage{
    height: 50px;
    width: 100px;
    color: white;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    font-size: 30;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 10px !important;
    margin-bottom: 20px !important;
    background-color: #087E8B;
    cursor: pointer;

}
.buttonlogin {
    height: 80px;
    width: 160px;
    color: white;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    font-size: 30;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 10px !important;
    margin-bottom: 20px !important;
    background-color: #087E8B;
    cursor: pointer;

}

.deletebutton {
    height: 80px;
    width: 200px;
    color: white;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    font-size: 30;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    background-color: #fc687e;
    cursor: pointer;
}
.accountbutton{
    height: 80px;
    width: 250px !important;
    color: white;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    font-size: 30;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 30px !important;
    margin-bottom: 10px !important;
    background-color: #fc687e;
    cursor: pointer;
}
.select{
    height: 30px;
    width: 80%;
    color: black;
    border: solid;
    border-color: #818589;
    border-radius: 20px;
    font-weight: bold;
    font-size: 15;
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    background-color: #E5E4E2;
    cursor: pointer;
}
.filter{
    height: 30px;
    width: 130px;
    color: black;
    border-radius: 10px;
    font-weight: bold;
    font-size: 17;
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    background-color: #E5E4E2;
    cursor: pointer;
}
.savebutton {
    height: 80px;
    width: 200px;
    color: white;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    font-size: 40;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 10px !important;
    margin-bottom: 30px !important;
    background-color: #52AA5E;
    cursor: pointer;
}
.printbutton {
    height: 80px;
    width: 200px;
    color: white;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    font-size: 30;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 30px !important;
    background-color: #52AA5E;
    cursor: pointer;
}
.nextbutton {
    border: solid grey 5px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    font-size: 30;
    margin-top: 30px;
    margin-bottom: 30px;
    transition-duration: 0.4s;
}

.nextbutton:hover {

    background-color: #bc1e2ed8;

}

.arrived{
    height: 30px;
    width: 80%;
    color: black;
    border: None;
    border-radius: 20px;
    font-weight: bold;
    font-size: 15;
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 15px !important;
    background-color: #8DFF97;
    cursor: pointer;
    transition-duration: 0.4s;
}
.arrived-true {
    background-color: #8DFF97;
    color: black;
}

.arrived-false {
    background-color: #E84A5A;
    color: white;
}

.darkmodebutton{
    margin-top: auto;
    margin-bottom: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 17;
    background-color: #f7941d;
    color: black;
    padding: 8px;
    border: solid orange 9px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.dark-mode .darkmodebutton{
    background-color: #262626;
    color: white;
    border: solid rgb(14, 100, 186) 9px;
}

input[type=submit] {
    background-color: #bc1e2d;
    border: none;
    color: white;
    text-decoration: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 30;
    margin-top: 30px;
    margin-bottom: 30px;
    transition-duration: 0.4s;
}

.dark-mode input[type=submit]{
    background-color: #7e2f37;
}

input[type=date] {
    font-size: 30;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 8px;
    border: grey solid 4px;
    border-radius: 10px;
    cursor: help;
    transition-duration: 0.4s;
    padding: 8px;
}
.dark-mode  input[type=date]{
    color: white;
    background-color: #2727352e;
    color-scheme: dark;
}

input[type=text]{
    background-color: #cccccc;
    outline: none;
    border: none;
    border-radius: 15px;
    height: 30px;
    max-width: 450px;
    font-size: 20;
    padding-left:20px;
    margin-top: 20px;
}

input[type=email]{
    outline: none;
    border: none;
    border-radius: 15px;
    height: 30px;
    max-width: 250px;
    font-size: 20;
    padding-left: 20px;
    background-color: #cccccc;
    margin-top: 20px;
}

input[type=password]{
    outline: none;
    border: none;
    border-radius: 15px;
    height: 30px;
    max-width: 250px;
    font-size: 20;
    padding-left:20px;
    background-color: #cccccc;

}
input[type=tel]{
    outline: none;
    border: none;
    border-radius: 15px;
    height: 30px;
    max-width: 250px;
    font-size: 20;
    padding-left: 20px;
    background-color: #cccccc;
    margin-top: 20px;
}
input[type=checkbox] { 
    vertical-align: middle; 
    position: relative; 
    bottom: 1px; 
} 
.pair{
    text-align: center;
    border: none;
    display: block;
    max-width: 80%;
    background-color: white;
    margin-top: 32px;
    border-radius: 20px;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 10px 10px 0 rgba(0, 0, 0, 0.19);
    transition-duration: 0.4s;
}
.numberpair{
    padding: 32px;
    border: solid;
    border-color: #818589;
    background-color: white;
    margin-top: 10px;
    margin-right: 20px !important;
    margin-left: 20px !important;
    margin-bottom: 32px;
    border-radius: 20px;
    text-align: center;
    display: inline-block;
    transition-duration: 0.4s;
}

.numberpair-slideshow {
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 32px;
  }

.dark-mode .numberpair{
    background-color: #333333;

}

.dark-mode .pair {
    background-color: #333333;
}

 table, th, td {
    transition-duration: 0.4s;
    table-layout: fixed ;
    border: 2px solid #cccccc;
    border-collapse: collapse;
    background-color: white;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    max-width: 90%;
    margin-top: 20px;
    margin-bottom: 20px;
    word-wrap: break-word;
    padding: 10px;
}

.dark-mode table, .dark-mode th, .dark-mode td {
    background-color: #333333;
    color: white;
    border: 2px solid #cccccc;
}

table:hover {background-color: #D6EEEE;}