<html>

  <script src="https://kit.fontawesome.com/9d35a24d36.js" crossorigin="anonymous"></script>
  <head>
      <title>Account</title>
      <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='/styles/styles.css') }}"/>
      <link rel="icon" href="{{url_for('static', filename='/images/RedLogoIcon.png')}}"/>
  </head>
  <div class="sidebar">
    <a class="active" href="/account"><i class="fa-solid fa-house"></i>    Home</a>
    <a href="/account/newbooking"><i class="fa-solid fa-file-circle-plus"></i>    New Booking</a>
    <a href="/account/managebooking"><i class="fa-solid fa-pen-to-square"></i>    Manage Bookings</a>
    <a href="/centerinfo"><i class="fa-solid fa-circle-info"></i>    Play2Day Information</a>
    <a href="/account/editaccountdetails"><i class="fa-solid fa-user-pen"></i>    Edit Account Details</a>
    <a href="/logout"><i class="fa-solid fa-right-from-bracket"></i>    Log Out</a>
    <button class="darkmodebutton"onclick="ToggleDarkMode()">Toggle Dark Mode</button>
  </div>
  <body>
      <div class="content">
          <center>
              <img class="one" onclick = "location.href = 'https://benjamano.pythonanywhere.com/account';" src="{{ url_for('static',filename='/images/LongerRedLogo.png') }}"/>
              <body>
                  <h11 style="font-size: 40; margin-bottom: 16px">
                      Welcome, {{First}}
                  </h11>
                  <div cla ss="pair">
                    <div class="numberpair-slideshow">
                      {% if NearestBookingDate != "None" or NearestBookingTime != "None" %}
                        <div class="numberpair">
                          <h11 style="font-size: 50">
                            {{NearestBookingDate}}<br>{{NearestBookingTime}}
                          </h11>
                          <p>
                            <h9 style="font-size: 30">
                              Your next booking
                            </h9>
                          </p>
                        </div>
                      {% endif %}
                      <br>
                      <div class="slideshow-container">
                        <div class="mySlides fade">
                          <img src="{{ url_for('static',filename='/images/privatehiresslide.png') }}" style="max-width:60%; border: 5px solid #000000;">
                        </div>
                        <div class="mySlides fade">
                          <img src="{{ url_for('static',filename='/images/partybookingsslide.png') }}" style="max-width:60%; border: 5px solid #000000;">
                        </div>
    
                        <div class="mySlides fade">
                          <img src="{{ url_for('static',filename='/images/NewFriday8th.png') }}" style="max-width:50%; border: 5px solid #000000;">
                        </div>
                      </div>
                    </div>
                    <div style="text-align:center">
                      <span class="dot"></span>
                      <span class="dot"></span>
                      <span class="dot"></span>
                    </div>
                  </div
              </body>
          </center>
      </div>
  </body>

  <script>
    let slideIndex = 0;
    showSlides();

    function showSlides() {
      let i;
      let slides = document.getElementsByClassName("mySlides");
      let dots = document.getElementsByClassName("dot");
      for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";
      }
      slideIndex++;
      if (slideIndex > slides.length) {slideIndex = 1}
      for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
      }
      slides[slideIndex-1].style.display = "block";
      dots[slideIndex-1].className += " active";
      setTimeout(showSlides, 5000); // Change every 5 seconds
    }
  </script>
  <script>
    function ToggleDarkMode() {
      var bodyElement = document.body;
      var sidebar = document.querySelector(".sidebar");
      var tableElements = document.querySelectorAll("table, th, td");
      var fontsToStyle = document.querySelectorAll(".dark-font");
      var pairElement = document.querySelector(".pair");
      var numberpairElement = document.querySelector(".numberpair");
  
      var isDarkMode = bodyElement.classList.contains("dark-mode");
  
      // Toggle the dark mode
      isDarkMode = !isDarkMode;
  
      bodyElement.classList.toggle("dark-mode", isDarkMode);
      if (sidebar) sidebar.classList.toggle("dark-mode", isDarkMode);
  
      tableElements.forEach(function (el) {
          el.classList.toggle("dark-mode", isDarkMode);
      });
  
      fontsToStyle.forEach(function (el) {
          el.classList.toggle("dark-mode", isDarkMode);
      });
  
      if (pairElement) pairElement.classList.toggle("dark-mode", isDarkMode);
      if (numberpairElement) numberpairElement.classList.toggle("dark-mode", isDarkMode);
  
      // Update the local storage with the new dark mode state
      localStorage.setItem("darkMode", isDarkMode.toString());
    }
  
    function applyInitialDarkMode() {
      var isDarkMode = localStorage.getItem("darkMode") === "true";
      var bodyElement = document.body;
      var sidebarElement = document.querySelector(".sidebar");
  
      if (bodyElement) bodyElement.classList.toggle("dark-mode", isDarkMode);
      if (sidebarElement) sidebarElement.classList.toggle("dark-mode", isDarkMode);
  
      var fontsToStyle = document.querySelectorAll(".dark-font");
      fontsToStyle.forEach(function (el) {
          el.classList.toggle("dark-mode", isDarkMode);
      });
  
      var pairElement = document.querySelector(".pair");
      if (pairElement) pairElement.classList.toggle("dark-mode", isDarkMode);
  
      var numberpairElement = document.querySelector(".numberpair");
      if (numberpairElement) numberpairElement.classList.toggle("dark-mode", isDarkMode);

      var numberpairElement = document.querySelector(".darkmodebutton");
      if (numberpairElement) numberpairElement.classList.toggle("dark-mode", isDarkMode);
  
      var tableElements = document.querySelectorAll("table, th, td");
      tableElements.forEach(function (el) {
          el.classList.toggle("dark-mode", isDarkMode);
      });
    }
  
    applyInitialDarkMode();
  </script>


