<html>
    <head>
        <title>Account</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='/styles/styles.css') }}"/>
        <link rel="icon" href="{{url_for('static', filename='/images/RedLogoIcon.png')}}"/>
    </head>
    <div class="sidebar">
        <a class="active" href="/account">Home</a>
        <a href="/account/newbooking">New Booking</a>
        <a href="/account/managebooking">Manage Bookings</a>
        <a href="/centerinfo">Play2Day Information</a>
        <a href="/account/editaccountdetails">Edit Account Details</a>
        <a href="/logout">Log Out</a>
        <button onclick="ToggleDarkMode()">Toggle Dark Mode</button>
    </div>
    <body>
        <div class="content">
            <center>
                <img class="one" onclick = "location.href = 'https://benjamano.pythonanywhere.com/account';" src="{{ url_for('static',filename='/images/LongerRedLogo.png') }}"/>
                <body>
                    <h6>
                        Welcome, {{First}}
                    </h6>
                </body>
                <br>
                <br>
                <div class="slideshow-container">
                    <div class="mySlides fade">
                      <img src="{{ url_for('static',filename='/images/privatehiresslide.png') }}" style="width:90%; border: 5px solid #000000;">
                    </div>

                    <div class="mySlides fade">
                      <img src="{{ url_for('static',filename='/images/partybookingsslide.png') }}" style="width:90%; border: 5px solid #000000;">
                    </div>

                    <div class="mySlides fade">
                      <img src="{{ url_for('static',filename='/images/NewFriday8th.png') }}" style="width:70%; border: 5px solid #000000;">
                    </div>
                </div>
                <div style="text-align:center">
                  <span class="dot"></span>
                  <span class="dot"></span>
                  <span class="dot"></span>
                </div>
            </center>
        </div>
    </body>

    <script>
      let slideIndex = 0;
      showSlides();

      function showSlides() {
        let i;
        let slides = document.getElementsByClassName("mySlides");
        let dots = document.getElementsByClassName("dot");
        for (i = 0; i < slides.length; i++) {
          slides[i].style.display = "none";
        }
        slideIndex++;
        if (slideIndex > slides.length) {slideIndex = 1}
        for (i = 0; i < dots.length; i++) {
          dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex-1].style.display = "block";
        dots[slideIndex-1].className += " active";
        setTimeout(showSlides, 5000); // Change every 5 seconds
      }
  </script>
  <script>
  function ToggleDarkMode() {
    var element = document.body;
    element.classList.toggle("dark-mode");
    var sidebar = document.querySelector(".sidebar");
    sidebar.classList.toggle("dark-mode");

    // Update the user's dark mode preference in localStorage
    var isDarkMode = element.classList.contains("dark-mode");
    localStorage.setItem("darkMode", isDarkMode);
    }
  </script>

  <script>
    // Function to apply the initial dark mode state
    function applyInitialDarkMode() {
      var isDarkMode = localStorage.getItem("darkMode") === "true";
      var bodyElement = document.body;
      var sidebarElement = document.querySelector(".sidebar");

      var fontsToStyle = document.querySelectorAll(".dark-font");
      for (var i = 0; i < fontsToStyle.length; i++) {
          fontsToStyle[i].classList.add("dark-mode");
      }
      if (isDarkMode) {
          bodyElement.classList.add("dark-mode");
          sidebarElement.classList.add("dark-mode");
      }
      var pairElement = document.querySelector(".pair");
      pairElement.classList.add("dark-mode");
    }

      // Call the function to apply the initial dark mode state
      applyInitialDarkMode();
  </script>
</html>

