<script src="https://kit.fontawesome.com/9d35a24d36.js" crossorigin="anonymous"></script>
<head>
    <title>Manage Your Booking</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='/styles/styles.css') }}"/>
    <link rel="stylesheet" media="print" href="{{ url_for('static',filename='/styles/print.css') }}" />
    <link rel="icon" href="{{url_for('static', filename='/images/RedLogoIcon.png')}}"/>
</head>
<div class="sidebar">
    <a href="/account"><i class="fa-solid fa-house"></i>    Home</a>
    <a href="/account/newbooking"><i class="fa-solid fa-file-circle-plus"></i>    New Booking</a>
    <a class="active" href="/account/managebooking"><i class="fa-solid fa-pen-to-square"></i>    Manage Bookings</a>
    <a href="/centerinfo"><i class="fa-solid fa-circle-info"></i>    Play2Day Information</a>
    <a href="/account/editaccountdetails"><i class="fa-solid fa-user-pen"></i>    Edit Account Details</a>
    <a href="/logout"><i class="fa-solid fa-right-from-bracket"></i>    Log Out</a>
    <button onclick="ToggleDarkMode()">Toggle Dark Mode</button>
</div>

<div class="content">
    <center>
        <img class="one" onclick = "location.href = 'https://benjamano.pythonanywhere.com/account';" src="{{ url_for('static',filename='/images/LongerRedLogo.png') }}"/>
        <div class="pair">
            <center>
                <h5>
                    Manage Booking
                </h5>
                <h2>
                    Booking Type: {{SessionType}}
                </h2>
                <h2>
                    Booking Date: {{BookingDate}}
                </h2>
                <h2>
                    Booking Time: {{BookingTime}}
                </h2>
                <h2>
                    Booking Price: £{{BookingPrice}}
                </h2>
                <h2>
                    Extra Notes: {{Extra}}
                </h2>
                <form method="POST" action="/account/managebooking/deletebooking">
                    <button type="submit" class="deletebutton" onclick="return confirm('Are you sure you want to delete this Booking?')">Delete Booking</button>
                </form>
                <button class="printbutton" onclick="window.print();return false;"">Print this page</button>
            </center>
        </div>
    </center>
</div>

<script>
    function ToggleDarkMode() {
      var bodyElement = document.body;
      var sidebar = document.querySelector(".sidebar");
      var tableElements = document.querySelectorAll("table, th, td");
      var fontsToStyle = document.querySelectorAll(".dark-font");
      var pairElement = document.querySelector(".pair");
  
      bodyElement.classList.toggle("dark-mode");
      sidebar.classList.toggle("dark-mode");
  
      for (var i = 0; i < tableElements.length; i++) {
          tableElements[i].classList.toggle("dark-mode");
      }
  
      for (var j = 0; j < fontsToStyle.length; j++) {
          fontsToStyle[j].classList.toggle("dark-mode");
      }
  
      pairElement.classList.toggle("dark-mode");
    }
  </script>
    
  <script>
  
  function applyInitialDarkMode() {
      var isDarkMode = localStorage.getItem("darkMode") === "true";
      var bodyElement = document.body;
      var sidebarElement = document.querySelector(".sidebar");
  
      if (isDarkMode) {
          bodyElement.classList.add("dark-mode");
          sidebarElement.classList.add("dark-mode");
  
          var fontsToStyle = document.querySelectorAll(".dark-font");
          for (var i = 0; i < fontsToStyle.length; i++) {
              fontsToStyle[i].classList.add("dark-mode");
          }
  
          var pairElement = document.querySelector(".pair");
          pairElement.classList.add("dark-mode");
  
          
          var tableElements = document.querySelectorAll("table, th, td");
          for (var j = 0; j < tableElements.length; j++) {
              tableElements[j].classList.add("dark-mode");
          }
      }
  }
  
  applyInitialDarkMode();
  </script>
  