<html>
    <head>
        <title>Account</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='/styles/styles.css') }}"/>
        <link rel="icon" href="{{url_for('static', filename='/images/RedLogoIcon.png')}}"/>
    </head>
    <div class="sidebar">
        <a class="active" href="/centerinfo/home">Play2day Information</a>
        <a href="/account/newbooking">New Booking</a>
        <a href="/account/managebooking">Manage Booking</a>
        <a href="/centerdetails">Play2Day Information</a>
        <a href="/account/editaccountdetails">Edit Account Details</a>
    </div>