<head>
    <title>Select the Date</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='/styles/styles.css') }}"/>
    <link rel="icon" href="{{url_for('static', filename='/images/RedLogoIcon.png')}}"/>
</head>
<div class="sidebar">
    <a href="/account">Home</a>
    <a class=active href="/account/newbooking">New Booking</a>
    <a href="/account/managebooking">Manage Bookings</a>
    <a href="/centerinfo">Play2Day Information</a>
    <a href="/account/editaccountdetails">Edit Account Details</a>
    <a href="/logout">Log Out</a>
</div>
<center>
    <div class="content">
        <img class="one" onclick = "location.href = 'https://benjamano.pythonanywhere.com/account';" src="{{ url_for('static',filename='/images/LongerRedLogo.png') }}"/>
        <div class="pair">
            <body>
                <h5>
                    New Booking
                </h5>
                <h3>
                    Select the date
                </h3>
                <form action="#" method="post">
                    <label for="BookingDate">Date:</label>
                    <input type="date" id="BookingDate" name="BookingDate" required/>
                    </p>
                        <input type="submit" name="Submit" value="Next"/>
                    </p>
                </form>
            </body>
        </div>
    </div>
</center>