<html>
    <head>
        <title>Login</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='/styles/styles.css') }}"/>
        <link rel="icon" href="{{url_for('static', filename='/images/RedLogoIcon.png')}}"/>
    </head>
    <body style="background-color:#ffffff;">
        <center>
            <img class="one" onclick = "location.href = 'https://benjamano.pythonanywhere.com/';" src="{{ url_for('static',filename='/images/LongerRedLogo.png') }}"/>
            <div class="pair">
                <h5>
                    Log in to your account
                </h5>
                <form action="#" method="post">
                    <p>
                        <input type="email" name="Email" placeholder="Email" required/>
                    </p>
                    <p>
                        <input type="password" name="Password" placeholder="Password" required/>
                    </p>
                    <p>
                        <button type="submit" class="buttonloginpage">Login</button>
                    </p>
                </form>
            </div>
        </center>
    </body>
</html>

<script>
    function ToggleDarkMode() {
      var element = document.body;
      element.classList.toggle("dark-mode");
      var sidebar = document.querySelector(".sidebar");
      sidebar.classList.toggle("dark-mode");
  
      // Update the user's dark mode preference in localStorage
      var isDarkMode = element.classList.contains("dark-mode");
      localStorage.setItem("darkMode", isDarkMode);
      }
    </script>
  
    <script>
      // Function to apply the initial dark mode state
      function applyInitialDarkMode() {
          var isDarkMode = localStorage.getItem("darkMode") === "true";
          var bodyElement = document.body;
          var sidebarElement = document.querySelector(".sidebar");
  
          if (isDarkMode) {
              bodyElement.classList.add("dark-mode");
              sidebarElement.classList.add("dark-mode");
          }
      }
  
        // Call the function to apply the initial dark mode state
        applyInitialDarkMode();
</script>