

<script src="https://kit.fontawesome.com/9d35a24d36.js" crossorigin="anonymous"></script>
<head>
    <title>Add optional extras</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='/styles/styles.css') }}"/>
    <link rel="icon" href="{{url_for('static', filename='/images/RedLogoIcon.png')}}"/>
</head>
<div class="sidebar">
    <a href="/account"><i class="fa-solid fa-house"></i>    Home</a>
    <a class="active" href="/account/newbooking"><i class="fa-solid fa-file-circle-plus"></i>    New Booking</a>
    <a href="/account/managebooking"><i class="fa-solid fa-pen-to-square"></i>    Manage Bookings</a>
    <a href="/centerinfo"><i class="fa-solid fa-circle-info"></i>    Play2Day Information</a>
    <a href="/account/editaccountdetails"><i class="fa-solid fa-user-pen"></i>    Edit Account Details</a>
    <a href="/logout"><i class="fa-solid fa-right-from-bracket"></i>    Log Out</a>
    <button class="darkmodebutton"onclick="ToggleDarkMode()">Toggle Dark Mode</button>
</div>
<body>
    <div class="content">
        <center>
            <img class="one" onclick = "location.href = 'https://benjamano.pythonanywhere.com/account';" src="{{ url_for('static',filename='/images/LongerRedLogo.png') }}"/>
            <div class="pair">

                <h5>
                    New {{ privatehiretype }}
                    {% if privatehiretype == '' %}
                        {{ BookingType }}
                    {% endif %}
                    Booking
                </h5>

                <h3>
                    Select any optional extras
                </h3>
                <form action="#" method="post">
                    {% if BookingType == "Party" %}
                    
                    <p>
                        <p>
                            <label>
                                <input type="checkbox" id="Extra" name="Extra" value="PartyBags">
                                Extra Party Bags +£10
                            </label>
                        </p>
                        <p>
                            <label>
                                <input type="checkbox" id="Extra" name="Extra" value="LaserParty">
                                Laser-Tag Party +£50
                            </label>
                        </p>
                        <p>
                            <label>
                                <input type="checkbox" id="Extra" name="Extra" value="PizzaParty">
                                Pizza Party +£50
                            </label>
                        </p>
                    </p>

                    {% elif privatehiretype == "Laser Tag Private Hire" %}

                        <p>
                            <label>
                                <input type="checkbox" id="Extra" name="Extra" value="Temp">
                                Temp
                            </label>
                        </p>
                    
                    {% elif BookingType == "Weekday Play Session" or BookingType == "Weekend Play Session" %}

                        <p>
                            <label>
                                <input type="checkbox" id="Extra" name="Extra" value="AdultLaser">
                                Adult Laser Tag Upgrade +£15
                            </label>
                        </p>
                    
                    {% elif privatehiretype != "" and privatehiretype != "Laser Tag Private Hire" %}

                        <p>
                            <label>
                                <input type="checkbox" id="Extra" name="Extra" value="Buffet">
                                All you can eat buffet +£100
                            </label>
                        </p>
                    
                    {% else %}

                        <h4>Huh, something went wrong, no idea how you managed to get here, James</h4>

                    {% endif %}

                    </p>
                        <input type="submit" name="Submit" value="Next"/>
                    </p>
                </form>
                <progress value="80" max="100"> 80% </progress>
            </div>
        </center>
    </div>
</body>
<script>
    function ToggleDarkMode() {
      var bodyElement = document.body;
      var sidebar = document.querySelector(".sidebar");
      var tableElements = document.querySelectorAll("table, th, td");
      var fontsToStyle = document.querySelectorAll(".dark-font");
      var pairElement = document.querySelector(".pair");
      var numberpairElement = document.querySelector(".numberpair");
      var darkmodebuttonElement = document.querySelector(".darkmodebutton");
  
      var isDarkMode = bodyElement.classList.contains("dark-mode");
  
      // Toggle the dark mode
      isDarkMode = !isDarkMode;
  
      bodyElement.classList.toggle("dark-mode", isDarkMode);
      if (sidebar) sidebar.classList.toggle("dark-mode", isDarkMode);
  
      tableElements.forEach(function (el) {
          el.classList.toggle("dark-mode", isDarkMode);
      });
  
      fontsToStyle.forEach(function (el) {
          el.classList.toggle("dark-mode", isDarkMode);
      });
  
      if (pairElement) pairElement.classList.toggle("dark-mode", isDarkMode);
      if (numberpairElement) numberpairElement.classList.toggle("dark-mode", isDarkMode);
  
      // Update the local storage with the new dark mode state
      localStorage.setItem("darkMode", isDarkMode.toString());
    }
  
    function applyInitialDarkMode() {
      var isDarkMode = localStorage.getItem("darkMode") === "true";
      var bodyElement = document.body;
      var sidebarElement = document.querySelector(".sidebar");
  
      if (bodyElement) bodyElement.classList.toggle("dark-mode", isDarkMode);
      if (sidebarElement) sidebarElement.classList.toggle("dark-mode", isDarkMode);
  
      var fontsToStyle = document.querySelectorAll(".dark-font");
      fontsToStyle.forEach(function (el) {
          el.classList.toggle("dark-mode", isDarkMode);
      });
  
      var pairElement = document.querySelector(".pair");
      if (pairElement) pairElement.classList.toggle("dark-mode", isDarkMode);
  
      var numberpairElement = document.querySelector(".numberpair");
      if (numberpairElement) numberpairElement.classList.toggle("dark-mode", isDarkMode);

      var numberpairElement = document.querySelector(".darkmodebutton");
      if (numberpairElement) numberpairElement.classList.toggle("dark-mode", isDarkMode);
  
      var tableElements = document.querySelectorAll("table, th, td");
      tableElements.forEach(function (el) {
          el.classList.toggle("dark-mode", isDarkMode);
      });
    }
  
    applyInitialDarkMode();
  </script>