<script src="https://kit.fontawesome.com/9d35a24d36.js" crossorigin="anonymous"></script>
<head>
    <title>New Private Hire Booking</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='/styles/styles.css') }}"/>
    <link rel="icon" href="{{url_for('static', filename='/images/RedLogoIcon.png')}}"/>
</head>
<div class="sidebar">
    <a href="/account"><i class="fa-solid fa-house"></i>    Home</a>
    <a class="active" href="/account/newbooking"><i class="fa-solid fa-file-circle-plus"></i>    New Booking</a>
    <a href="/account/managebooking"><i class="fa-solid fa-pen-to-square"></i>    Manage Bookings</a>
    <a href="/centerinfo"><i class="fa-solid fa-circle-info"></i>    Play2Day Information</a>
    <a href="/account/editaccountdetails"><i class="fa-solid fa-user-pen"></i>    Edit Account Details</a>
    <a href="/logout"><i class="fa-solid fa-right-from-bracket"></i>    Log Out</a>
    <button onclick="ToggleDarkMode()">Toggle Dark Mode</button>
</div>
<center>
    <div class="content">
        <img class="one" onclick = "location.href = 'https://benjamano.pythonanywhere.com/account';" src="{{ url_for('static',filename='/images/LongerRedLogo.png') }}"/>
        <div class="pair">
            <body>
                <h5>
                    New Private Hire Booking
                </h5>
                <h3>
                    Select the date and Type of Booking
                </h3>
                <form action="#" method="POST">
                    <p>
                        <label>
                            <input type="radio" name="privatehiretype" value="Adventure Play Private Hire" required>
                            Adventure Play Party
                        </label>
                    </p>

                    <p>
                        <label>
                            <input type="radio" name="privatehiretype" value="Laser Tag Private Hire">
                            Laser Tag Only Party
                        </label>
                    </p>

                    <p>
                        <label>
                            <input type="radio" name="privatehiretype" value="Laser Tag + Adventure Play Private Hire">
                            Shoot and Slide Party (Adventure Play + Laser Tag)
                        </label>
                    </p>
                    <h3>
                        Select approximate number of attendees
                    </h3>
                    <label>
                        Number of Adults:
                    </label>
                    <label>
                        <input type="radio" name="numberadults" value="1-10" required>
                        1 - 10
                    </label>
                    <label>
                        <input type="radio" name="numberadults" value="10-30">
                        10 - 30
                    </label>
                    <label>
                        <input type="radio" name="numberadults" value="30-50">
                        30 - 50
                    </label>
                    <label>
                        <input type="radio" name="numberadults" value="50+">
                        50+
                    </label>
                    <p>
                        <label>
                            Number of Children:
                        </label>
                        <label>
                            <input type="radio" name="numberchildren" value="1-10" required>
                            1 - 10
                        </label>
                        <label>
                            <input type="radio" name="numberchildren" value="10-30">
                            10 - 30
                        </label>
                        <label>
                            <input type="radio" name="numberchildren" value="30-50">
                            30 - 50
                        </label>
                        <label>
                            <input type="radio" name="numberchildren" value="50+">
                            50+
                        </label>
                    </p>
                    <p>
                        <input type="submit" name="Submit" value="Next"/>
                    </p>
                </form>
                <progress value="50" max="100"> 50% </progress>
            </body>
        </div>
    </div>
</center>
<script>
    function ToggleDarkMode() {
      var bodyElement = document.body;
      var sidebar = document.querySelector(".sidebar");
      var tableElements = document.querySelectorAll("table, th, td");
      var fontsToStyle = document.querySelectorAll(".dark-font");
      var pairElement = document.querySelector(".pair");
      var numberpairElement = document.querySelector(".numberpair");
  
      var isDarkMode = bodyElement.classList.contains("dark-mode");
  
      isDarkMode = !isDarkMode;
  
      bodyElement.classList.toggle("dark-mode", isDarkMode);
      sidebar.classList.toggle("dark-mode", isDarkMode);
  
      for (var i = 0; i < tableElements.length; i++) {
          tableElements[i].classList.toggle("dark-mode", isDarkMode);
      }
  
      for (var j = 0; j < fontsToStyle.length; j++) {
          fontsToStyle[j].classList.toggle("dark-mode", isDarkMode);
      }
  
      pairElement.classList.toggle("dark-mode", isDarkMode);
      numberpairElement.classList.toggle("dark-mode", isDarkMode);
  
      localStorage.setItem("darkMode", isDarkMode.toString());
    }
  
    function applyInitialDarkMode() {
      var isDarkMode = localStorage.getItem("darkMode") === "true";
      var bodyElement = document.body;
      var sidebarElement = document.querySelector(".sidebar");
  
      bodyElement.classList.toggle("dark-mode", isDarkMode);
      sidebarElement.classList.toggle("dark-mode", isDarkMode);
  
      var fontsToStyle = document.querySelectorAll(".dark-font");
      for (var i = 0; i < fontsToStyle.length; i++) {
          fontsToStyle[i].classList.toggle("dark-mode", isDarkMode);
      }
  
      var pairElement = document.querySelector(".pair");
      pairElement.classList.toggle("dark-mode", isDarkMode);
  
      var numberpairElement = document.querySelector(".numberpair");
      numberpairElement.classList.toggle("dark-mode", isDarkMode);
  
      var tableElements = document.querySelectorAll("table, th, td");
      for (var j = 0; j < tableElements.length; j++) {
          tableElements[j].classList.toggle("dark-mode", isDarkMode);
      }
    }
  
    applyInitialDarkMode();
  </script>