<script src="https://kit.fontawesome.com/9d35a24d36.js" crossorigin="anonymous"></script>
<head>
    <title>New Play Session Booking</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='/styles/styles.css') }}"/>
    <link rel="icon" href="{{url_for('static', filename='/images/RedLogoIcon.png')}}"/>
</head>
<div class="sidebar">
    <a href="/account"><i class="fa-solid fa-house"></i>    Home</a>
    <a class="active" href="/account/newbooking"><i class="fa-solid fa-file-circle-plus"></i>    New Booking</a>
    <a href="/account/managebooking"><i class="fa-solid fa-pen-to-square"></i>    Manage Bookings</a>
    <a href="/centerinfo"><i class="fa-solid fa-circle-info"></i>    Play2Day Information</a>
    <a href="/account/editaccountdetails"><i class="fa-solid fa-user-pen"></i>    Edit Account Details</a>
    <a href="/logout"><i class="fa-solid fa-right-from-bracket"></i>    Log Out</a>
    <button onclick="ToggleDarkMode()">Toggle Dark Mode</button>
</div>
<center>
    <div class="content">
        <img class="one" onclick = "location.href = 'https://benjamano.pythonanywhere.com/account';" src="{{ url_for('static',filename='/images/LongerRedLogo.png') }}"/>
        <div class="pair">
            <body>
                <h5>
                    New Weekend Play Session Booking
                </h5>
                <h3>
                    Select the time and date
                </h3>
                <form action="#" method="post">
                    <p>
                        <input type="radio" id="bookingtime" name="bookingtime" value="10:00-14:00" required>
                        <label for="morning">10:00 - 14:00</label><br>
                    </p>
                    <p>
                        <input type="radio" id="bookingtime" name="bookingtime" value="14:30-18:00">
                        <label for="afternoon">14:30 - 18:00</label><br>
                    </p>
                    <h3>
                        Select number of attendees
                    </h3>
                    <label>
                        Number of Adults:
                    </label>
                    <label>
                        <input type="radio" name="numberadults" value="1" required>
                        1
                    </label>
                    <label>
                        <input type="radio" name="numberadults" value="2" >
                        2
                    </label>
                    <label>
                        <input type="radio" name="numberadults" value="3" >
                        3
                    </label>
                    <label>
                        <input type="radio" name="numberadults" value="4" >
                        4
                    </label>
                    <label>
                        <input type="radio" name="numberadults" value="5" >
                        5
                    </label>
                    <label>
                        <input type="radio" name="numberadults" value="6" >
                        6
                    </label>
                    <p>
                        <label>
                            Number of Children:
                        </label>
                        <label>
                            <input type="radio" name="numberchildren" value="1" required>
                            1
                        </label>
                        <label>
                            <input type="radio" name="numberchildren" value="2" >
                            2
                        </label>
                        <label>
                            <input type="radio" name="numberchildren" value="3" >
                            3
                        </label>
                        <label>
                            <input type="radio" name="numberchildren" value="4" >
                            4
                        </label>
                        <label>
                            <input type="radio" name="numberchildren" value="5" >
                            5
                        </label>
                        <label>
                            <input type="radio" name="numberchildren" value="6" >
                            6
                        </label>
                    </p>
                    <p>
                        <input type="submit" name="Submit" value="Next"/>
                    </p>
                </form>
            </body>
        </div>
    </div>
</center>

<script>
    function ToggleDarkMode() {
      var bodyElement = document.body;
      var sidebar = document.querySelector(".sidebar");
      var tableElements = document.querySelectorAll("table, th, td");
      var fontsToStyle = document.querySelectorAll(".dark-font");
      var pairElement = document.querySelector(".pair");
  
      bodyElement.classList.toggle("dark-mode");
      sidebar.classList.toggle("dark-mode");
  
      for (var i = 0; i < tableElements.length; i++) {
          tableElements[i].classList.toggle("dark-mode");
      }
  
      for (var j = 0; j < fontsToStyle.length; j++) {
          fontsToStyle[j].classList.toggle("dark-mode");
      }
  
      pairElement.classList.toggle("dark-mode");
    }
  </script>
    
  <script>
  
  function applyInitialDarkMode() {
      var isDarkMode = localStorage.getItem("darkMode") === "true";
      var bodyElement = document.body;
      var sidebarElement = document.querySelector(".sidebar");
  
      if (isDarkMode) {
          bodyElement.classList.add("dark-mode");
          sidebarElement.classList.add("dark-mode");
  
          var fontsToStyle = document.querySelectorAll(".dark-font");
          for (var i = 0; i < fontsToStyle.length; i++) {
              fontsToStyle[i].classList.add("dark-mode");
          }
  
          var pairElement = document.querySelector(".pair");
          pairElement.classList.add("dark-mode");
  
          
          var tableElements = document.querySelectorAll("table, th, td");
          for (var j = 0; j < tableElements.length; j++) {
              tableElements[j].classList.add("dark-mode");
          }
      }
  }
  
  applyInitialDarkMode();
  </script>
  