<head>
    <title>New Play Session Booking</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='/styles/styles.css') }}"/>
    <link rel="icon" href="{{url_for('static', filename='/images/RedLogoIcon.png')}}"/>
</head>
<div class="sidebar">
    <a href="/account">Home</a>
    <a class="active" href="/account/newbooking">New Booking</a>
    <a href="/account/managebooking">Manage Bookings</a>
    <a href="/account/editaccountdetails">Edit Account Details</a>
</div>
<center>
    <div class="content">
        <img class="one" onclick = "location.href = 'https://benjamano.pythonanywhere.com/account';" src="{{ url_for('static',filename='/images/LongerRedLogo.png') }}"/>
        <div class="pair">
            <body>
                <h5>
                    New Weekend Play Session Booking
                </h5>
                <h3>
                    Select the time and date
                </h3>
                <form action="#" method="post">
                    <p>
                        <input type="radio" id="bookingtime" name="bookingtime" value="10:00-14:00" required>
                        <label for="morning">10:00 - 14:00</label><br>
                    </p>
                    <p>
                        <input type="radio" id="bookingtime" name="bookingtime" value="14:30-18:00">
                        <label for="afternoon">14:30 - 18:00</label><br>
                    </p>
                    <h3>
                        Select number of attendees
                    </h3>
                    <label>
                        Number of Adults:
                    </label>
                    <label>
                        <input type="radio" name="numberadults" value="1" required>
                        1
                    </label>
                    <label>
                        <input type="radio" name="numberadults" value="2" >
                        2
                    </label>
                    <label>
                        <input type="radio" name="numberadults" value="3" >
                        3
                    </label>
                    <label>
                        <input type="radio" name="numberadults" value="4" >
                        4
                    </label>
                    <label>
                        <input type="radio" name="numberadults" value="5" >
                        5
                    </label>
                    <label>
                        <input type="radio" name="numberadults" value="6" >
                        6
                    </label>
                    <p>
                        <label>
                            Number of Children:
                        </label>
                        <label>
                            <input type="radio" name="numberchildren" value="1" required>
                            1
                        </label>
                        <label>
                            <input type="radio" name="numberchildren" value="2" >
                            2
                        </label>
                        <label>
                            <input type="radio" name="numberchildren" value="3" >
                            3
                        </label>
                        <label>
                            <input type="radio" name="numberchildren" value="4" >
                            4
                        </label>
                        <label>
                            <input type="radio" name="numberchildren" value="5" >
                            5
                        </label>
                        <label>
                            <input type="radio" name="numberchildren" value="6" >
                            6
                        </label>
                    </p>
                    <p>
                        <input type="submit" name="Submit" value="Next"/>
                    </p>
                </form>
            </body>
        </div>
    </div>
</center>