<script src="https://kit.fontawesome.com/9d35a24d36.js" crossorigin="anonymous"></script>
<head>
    <title>Play2Day Info Home</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='/styles/styles.css') }}"/>
    <link rel="icon" href="{{url_for('static', filename='/images/RedLogoIcon.png')}}"/>
</head>

<div class="sidebar">
    <a class=active href="/centerinfo"><i class="fa-solid fa-circle-info"></i>    Centre Details Home</a>
    <a href="/centerinfo/parties"><i class="fa-solid fa-cake-candles"></i>    Party Details</a>
    <a href="/centerinfo/menus"><i class="fa-solid fa-mug-hot"></i>    Food Menu</a>
    <a href="/centerinfo/lasertag"><i class="fa-solid fa-gun"></i>    Laser Tag</a>
    <button onclick="ToggleDarkMode()">Toggle Dark Mode</button>
    <a class=bottom href="/account">Account Home</a>
</div>

<div class="content">
    <center>
        <img class="one" onclick = "location.href = 'https://benjamano.pythonanywhere.com/centerinfo';" src="{{ url_for('static',filename='/images/LongerRedLogo.png') }}"/>
        <div class="pair" style="text-align: left !important;">
            <h5 style="text-align: center;">
                Welcome to Play2Day!
            </h5>

            <h6 style="font-size: 40; margin-left: 32px; text-decoration: underline;">
                Who are we?
            </h6>

            <h6 style="margin-left: 32px !important; font-size: 20 !important; margin-top: 16px !important">
                Play2Day is a childrens play center who aim to deliver joy and happiness to children and their parent/guardians alike!
            </h6>

            <h6 style="font-size: 40; margin-left: 32px; text-decoration: underline;">
                What facilities do we offer?
            </h6>

            <h6 style="margin-left: 32px !important; font-size: 20 !important; margin-top: 16px !important">
                We have many different facilities available to accommodate all ages, including the adults: 
            </h6>
            <ul>
                <li>A GIANT Inflatable park, one of the biggest in suffolk</li>
                <li>Two large Play Structers, one included a high-tech football-pitch with digital targets to aim for!</li>
                <li>A state of the art Laser-Tag arena, this is the perfect event space for a staff night out, or a quick way to tire out the little ones!</li>
                <li>An always-open snack bar that offers cooked hot child and adult meals, as well as the best coffee and hot chocolate!</li>
                <li>Dedicated party spaces with their very own party hosts, giving the party groups aa private room to eat their food before going off to play!</li>
                <li>A specialised "TinyTots" area, designed for children under the age of 4, this is the best place for parents and their children to make life-lasting memories!</li>
                <li>Many interactive playthings to play with! One example being our amazing interactive football wall, which counts a score based on how many times the targets get hit!!</li>
                <li>Private hire parties, giving exclusive access to our play center!!</li>
            </ul> 
            
            <br>

            <h6 style="font-size: 40; margin-left: 32px; text-decoration: underline;">
                The Bouncy Inflatable Park
            </h6>

            <div class="slideshow-container">
                <div class="InflatableSlides fade">
                    <img src="{{ url_for('static',filename='/images/center/InflatableMain.jpg') }}" style="max-width:50%; border: 5px solid #000000">
                </div>

                <div class="InflatableSlides fade">
                <img src="{{ url_for('static',filename='/images/center/InflatableWall.jpg') }}" style="max-width:60%; border: 5px solid #000000;">
                </div>

                <div class="InflatableSlides fade">
                <img src="{{ url_for('static',filename='/images/center/InflatableSlide.jpg') }}" style="max-width:20%; border: 5px solid #000000;">
                </div>

                <div class="InflatableSlides fade">
                <img src="{{ url_for('static',filename='/images/center/InflatableFront.jpg') }}" style="max-width:50%; border: 5px solid #000000;">
                </div>
            </div>
            <div style="text-align:center">
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
            </div>

            <h6 style="font-size: 40; margin-left: 32px; text-decoration: underline;">
                The Laser-Tag Arena
            </h6>

            <div class="slideshow-container" style="border: 5px solid #000000">
                <div class="LaserSlides fade">
                    <img src="{{ url_for('static',filename='/images/center/AlienWall.jpg') }}" style="max-width:50%;">
                </div>

                <div class="LaserSlides fade">
                <img src="{{ url_for('static',filename='/images/center/TapeWall.jpg') }}" style="max-width:60%;">
                </div>

                <div class="LaserSlides fade">
                <img src="{{ url_for('static',filename='/images/center/GlowingAlienWall.jpg') }}" style="max-width:60%;">
                </div>

                <div class="LaserSlides fade">
                <img src="{{ url_for('static',filename='/images/center/GlowingIcicles.jpg') }}" style="max-width:50%;">
                </div>
            </div>
            <div style="text-align:center">
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
            </div>
        </div>
    </center>
</div>
<script>
let slideIndex1 = 0;
let slideIndex2 = 0;

showSlides(1); // Start the first slideshow
showSlides(2); // Start the second slideshow

function showSlides(slideshowIndex) {
    let i;
    let slides;
    let dots;
    if (slideshowIndex === 1) {
        slides = document.getElementsByClassName("LaserSlides");
        dots = document.getElementsByClassName("dot1");
    } else if (slideshowIndex === 2) {
        slides = document.getElementsByClassName("InflatableSlides");
        dots = document.getElementsByClassName("dot2");
    } else {
        return;
    }

    for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";
    }

    if (slideshowIndex === 1) {
        slideIndex1++;
        if (slideIndex1 > slides.length) {
            slideIndex1 = 1;
        }
    } else if (slideshowIndex === 2) {
        slideIndex2++;
        if (slideIndex2 > slides.length) {
            slideIndex2 = 1;
        }
    }

    for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
    }

    if (slideshowIndex === 1) {
        slides[slideIndex1 - 1].style.display = "block";
        dots[slideIndex1 - 1].className += " active";
    } else if (slideshowIndex === 2) {
        slides[slideIndex2 - 1].style.display = "block";
        dots[slideIndex2 - 1].className += " active";
    }

    setTimeout(function () {
        showSlides(slideshowIndex);
    }, 5000); // Change every 5 seconds
}
</script>
<script>
    function ToggleDarkMode() {
    var element = document.body;
    element.classList.toggle("dark-mode");
    var sidebar = document.querySelector(".sidebar");
    sidebar.classList.toggle("dark-mode");

    // Update the user's dark mode preference in localStorage
    var isDarkMode = element.classList.contains("dark-mode");
    localStorage.setItem("darkMode", isDarkMode);
    }
    </script>

    <script>
    // Function to apply the initial dark mode state
    function applyInitialDarkMode() {
        var isDarkMode = localStorage.getItem("darkMode") === "true";
        var bodyElement = document.body;
        var sidebarElement = document.querySelector(".sidebar");

        if (isDarkMode) {
            bodyElement.classList.add("dark-mode");
            sidebarElement.classList.add("dark-mode");
        }
    }

        // Call the function to apply the initial dark mode state
        applyInitialDarkMode();
</script>
