<head>
    <title>Account</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='/styles/styles.css') }}"/>
    <link rel="icon" href="{{url_for('static', filename='/images/RedLogoIcon.png')}}"/>
</head>

<div class="sidebar">
    <a class=active href="/centerinfo/home">Centre Details Home</a>
    <a href="/centerinfo/party">Party Details</a>
    <a href="/centerinfo/foodmenu">Food Menu</a>
    <a href="/centerinfo/lasertag">Laser Tag</a>
    <b style="align-self: flex-end;" href="/account">Account Home</b>
</div>
