<head>
    <title>Account</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='/styles/styles.css') }}"/>
    <link rel="icon" href="{{url_for('static', filename='/images/RedLogoIcon.png')}}"/>
</head>

<div class="sidebar">
    <a class=active href="/centerinfo">Centre Details Home</a>
    <a href="/centerinfo/parties">Party Details</a>
    <a href="/centerinfo/menus">Food Menu</a>
    <a href="/centerinfo/lasertag">Laser Tag</a>
    <a class=bottom href="/account">Account Home</a>
</div>
