<head>
    <title>Account</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='/styles/styles.css') }}"/>
    <link rel="icon" href="{{url_for('static', filename='/images/RedLogoIcon.png')}}"/>
</head>

<div class="sidebar">
    <a href="/centerinfo/home">Centre Details Home</a>
    <a href="/centerinfo/party">Party Details</a>
    <a href="/centerinfo/foodmenu">Food Menu</a>
    <a class=active href="/centerinfo/lasertag">Laser Tag</a>
    <b href="/account">Account Home</b>
</div>

<body>
    <center>
        <h5>
            Here is our LIVE laser tag scoreboard:
        </h5>
        <iframe src="https://docs.google.com/spreadsheets/d/e/2PACX-1vQiDPlpKG47PNM7eOZ54PTnbuU00CyKdJzfyO_w8uKzpp1AvBarf9JOoyvdRl3BaX2P0kXo-SNxo8az/pubhtml?widget=false&headers=false&amp;range=I17:M29" width="600" height="400"></iframe>
    </center>
</body>
