<script src="https://kit.fontawesome.com/9d35a24d36.js" crossorigin="anonymous"></script>
<html>
    <head>
        <title>Play2Day Info</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='/styles/styles.css') }}"/>
        <link rel="icon" href="{{url_for('static', filename='/images/RedLogoIcon.png')}}"/>
    </head>

    <div class="sidebar">
        <a href="/centerinfo"><i class="fa-solid fa-circle-info"></i>    Centre Details Home</a>
        <a href="/centerinfo/parties"><i class="fa-solid fa-cake-candles"></i>    Party Details</a>
        <a href="/centerinfo/menus"><i class="fa-solid fa-mug-hot"></i>    Food Menu</a>
        <a class=active href="/centerinfo/lasertag"><i class="fa-solid fa-gun"></i>    Laser Tag</a>
        <button onclick="ToggleDarkMode()">Toggle Dark Mode</button>
        <a class=bottom href="/account">Account Home</a>
    </div>

    <div class="content">
        <center>
            <img class="one" onclick = "location.href = 'https://benjamano.pythonanywhere.com/centerinfo';" src="{{ url_for('static',filename='/images/LongerRedLogo.png') }}"/>
            <div class="pair">
                <center>
                    <h5>Laser Tag!!</h5>
                    <h6 style="color:blueviolet !important; padding-left: 50px !important; padding-right: 50px !important; font-size: 35 !important;">
                        Jam packed to the brim with action and adrenaline, our laser tag arena is sure to excite and occupy the little ones, but also awake the hidden inner child in every adult who joins in!
                    </h6>

                    <h12 style="padding-left: 50px !important; padding-right: 50px !important; font-size: 20 !important;">
                        Our laser tag arena is filled with the best UV lighting and only the best UV flourescent murals, as well as some extra laser lighting effects - Installed by one of our amazingly talented employees -  that really brings the atmosphere to life!
                    </h12>
                    
                    <br>
                    <br>

                    <h12 style="padding-left: 50px !important; padding-right: 50px !important; font-size: 20 !important;">
                        As well as the exciting lighting, we also have pumping music, equipped with subwoofers that make the ground shake! (No, really, you'd have to experience it to believe it!)
                    </h12>
                    
                    <br>
                    <br>
                    <br>
                    <div class="pair" style="background-color: gray !important">
                        <h8 style="color: rgba(21, 255, 0, 0.842); margin-bottom: 30px !important; font-size: 30 !important;">
                            So why not come along, its included FREE OF CHARGE in our weekend or holiday sessions!
                            OR you can book a private hire with use to have the whole arena to yourself!
                        </h8>
                    </div>
                </center>
            </div>
        </center>

        <br>
        <br>

        <center>
            <div class="pair">
                <center>
                <h5>
                    Here is our LIVE laser tag scoreboard:
                </h5>
                <iframe src="https://docs.google.com/spreadsheets/d/e/2PACX-1vQiDPlpKG47PNM7eOZ54PTnbuU00CyKdJzfyO_w8uKzpp1AvBarf9JOoyvdRl3BaX2P0kXo-SNxo8az/pubhtml?widget=false&headers=false&amp;" width="900" height="600"></iframe>
                </center>
            </div>
        </center>
    </div>

    <script>
        function ToggleDarkMode() {
        var element = document.body;
        element.classList.toggle("dark-mode");
        var sidebar = document.querySelector(".sidebar");
        sidebar.classList.toggle("dark-mode");
    
        // Update the user's dark mode preference in localStorage
        var isDarkMode = element.classList.contains("dark-mode");
        localStorage.setItem("darkMode", isDarkMode);
        }
        </script>
    
        <script>
        // Function to apply the initial dark mode state
        function applyInitialDarkMode() {
            var isDarkMode = localStorage.getItem("darkMode") === "true";
            var bodyElement = document.body;
            var sidebarElement = document.querySelector(".sidebar");
    
            if (isDarkMode) {
                bodyElement.classList.add("dark-mode");
                sidebarElement.classList.add("dark-mode");
            }
        }
    
            // Call the function to apply the initial dark mode state
            applyInitialDarkMode();
    </script>
</html>
