<head>
    <title>Play2Day Info</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='/styles/styles.css') }}"/>
    <link rel="icon" href="{{url_for('static', filename='/images/RedLogoIcon.png')}}"/>
</head>

<div class="sidebar">
    <a href="/centerinfo">Centre Details Home</a>
    <a href="/centerinfo/parties">Party Details</a>
    <a class=active href="/centerinfo/menus">Food Menu</a>
    <a href="/centerinfo/lasertag">Laser Tag</a>
    <a class=bottom href="/account">Account Home</a>
</div>
<div class="content">
    <centre>
        <img class="one" onclick = "location.href = 'https://benjamano.pythonanywhere.com/account';" src="{{ url_for('static',filename='/images/LongerRedLogo.png') }}"/>
        <br>
        <br>
        <center>
            <h3>
                Main Menu:
            </h3>
            <br>
            <img class="menus" src="{{ url_for('static',filename='/images/menus/NewNewFoodMenu.png') }}"/>
            <br>
            <br>
            <h3>
                Private Hire Menu:
            </h3>
            <br>
            <img class="menus" src="{{ url_for('static',filename='/images/menus/PHMenu.png') }}"/>
        </center>
    </centre>
</div>