<head>
    <title>Play2Day Info</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='/styles/styles.css') }}"/>
    <link rel="icon" href="{{url_for('static', filename='/images/RedLogoIcon.png')}}"/>
</head>

<div class="sidebar">
    <a href="/centerinfo">Centre Details Home</a>
    <a class=active href="/centerinfo/parties">Party Details</a>
    <a href="/centerinfo/menus">Food Menu</a>
    <a href="/centerinfo/lasertag">Laser Tag</a>
    <button onclick="ToggleDarkMode()">Toggle Dark Mode</button>
    <a class=bottom href="/account">Account Home</a>
</div>



<script>
    function ToggleDarkMode() {
      var element = document.body;
      element.classList.toggle("dark-mode");
      var sidebar = document.querySelector(".sidebar");
      sidebar.classList.toggle("dark-mode");
  
      // Update the user's dark mode preference in localStorage
      var isDarkMode = element.classList.contains("dark-mode");
      localStorage.setItem("darkMode", isDarkMode);
      }
    </script>
  
    <script>
      // Function to apply the initial dark mode state
      function applyInitialDarkMode() {
          var isDarkMode = localStorage.getItem("darkMode") === "true";
          var bodyElement = document.body;
          var sidebarElement = document.querySelector(".sidebar");
  
          if (isDarkMode) {
              bodyElement.classList.add("dark-mode");
              sidebarElement.classList.add("dark-mode");
          }
      }
  
        // Call the function to apply the initial dark mode state
        applyInitialDarkMode();
</script>