<head>
    <title>Manage A Booking</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='/styles/styles.css') }}"/>
    <link rel="icon" href="{{url_for('static', filename='/images/RedLogoIcon.png')}}"/>
</head>
<div class="sidebar">
    <a href="/manager/account">Home</a>
    <a class="active" href="/manager/editbooking">Booking Report</a>
    <a href="/manager/editcustomer">Edit a Customer</a>
    <a href="/manager/holidays">Upcoming Holidays</a>
    <a href="/logout"> Log Out</a>
</div>

<div class="content">
    <center>
        <img class="one" onclick = "location.href = 'https://benjamano.pythonanywhere.com/account';" src="{{ url_for('static',filename='/images/LongerRedLogo.png') }}"/>
        <div class="pair">
            <center>
                <h5>
                    Manage Booking
                </h5>
                <h2>
                    Name: {{FirstName}} {{LastName}}
                </h2>
                <h2>
                    Booking Type: {{SessionType}}
                </h2>
                <h2>
                    Booking Date: {{BookingDate}}
                </h2>
                <h2>
                    Booking Time: {{BookingTime}}
                </h2>
                <h2>
                    Booking Price: £{{BookingPrice}}
                </h2>
                <h2>Number of Adults: {{NumberAdults}}<br> Number of Children: {{NumberChildren}}</h2>
                <h2>
                    Extra Notes: {{Extra}}
                </h2>
                <form method="POST" action="#">
                    <button type="submit" class="deletebutton" onclick="return confirm('Are you sure you want to delete this Booking?')">Delete Booking</button>
                </form>
            </center>
        </div>
    </center>
</div>