<script src="https://kit.fontawesome.com/9d35a24d36.js" crossorigin="anonymous"></script>

<head>
    <title>Manage A Ticket</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='/styles/styles.css') }}"/>
    <link rel="icon" href="{{url_for('static', filename='/images/RedLogoIcon.png')}}"/>
</head>
<div class="sidebar">
    <a href="/manager/account"><i class="fa-solid fa-house-chimney"></i>   Home</a>
    <a href="/manager/editbooking"><i class="fa-solid fa-clipboard-list"></i>   Booking Report</a>
    <a href="/manager/editcustomer"><i class="fa-solid fa-user-pen"></i>   Edit a Customer</a>
    <a href="/manager/manageholidays"><i class="fa-solid fa-gift"></i>   Upcoming Holidays</a>
    <a class="active" href="/manager/selectsession"><i class="fa-solid fa-ticket"></i>   Edit Tickets</a>
    <a href="/logout" onmouseover="this.querySelector('i').className='fa-solid fa-door-open'" onmouseout="this.querySelector('i').className='fa-solid fa-door-closed'"><i class="fa-solid fa-door-closed"></i>   Log Out</a>
    <button class="darkmodebutton"onclick="ToggleDarkMode()">Toggle Dark Mode</button>
</div>

<div class="content">
    <center>
        <img class="one" onclick = "location.href = 'https://benjamano.pythonanywhere.com/manager/account';" src="{{ url_for('static',filename='/images/LongerRedLogo.png') }}"/>
        <center>
            <div class="pair">
                <center>
                    <h5>
                        Manage Ticket
                    </h5>
                    <br>
                    <br>
                    <form method="POST" action="#">
                        <input type="hidden" id="delete" name="delete" value="False"/>
                        <h12>SessionID</h12>
                        <br>
                        <input type="text" id="SessionID" name="SessionID" value={{SessionID}} readonly style="cursor: not-allowed">
                        <p>
                        <br>
                        <br>
                        <h12>Session Name</h12>
                        <br>
                        <input type="text" id="SessionName" name="SessionName" value={{SessionName}} readonly style="cursor: not-allowed">
                        </p>
                        <br>
                        <p>
                        <h12>Adult Price (£)</h12>
                        <br>
                        <input type="number" id="NewAdultPrice" name="NewAdultPrice" value={{AdultPrice}} required>
                        </p>
                        <br>
                        <br>
                        <p>
                        <h12>Child Price (£)</h12>
                        <br>
                        <input type="number" id="NewChildPrice" name="NewChildPrice" value={{ChildPrice}} required>
                        </p>
                        <br>
                        <br>
                        <button type="submit" class="savebutton" onclick="return confirm('Save new details?')">Save</button>
                    </form>
                </center>
            </div>
        </center>
    </center>
</div>
<script>
    function ToggleDarkMode() {
      var bodyElement = document.body;
      var sidebar = document.querySelector(".sidebar");
      var tableElements = document.querySelectorAll("table, th, td");
      var fontsToStyle = document.querySelectorAll(".dark-font");
      var pairElement = document.querySelector(".pair");
      var numberpairElement = document.querySelector(".numberpair");
      var darkmodebuttonElement = document.querySelector(".darkmodebutton");
  
      var isDarkMode = bodyElement.classList.contains("dark-mode");
  
      // Toggle the dark mode
      isDarkMode = !isDarkMode;
  
      bodyElement.classList.toggle("dark-mode", isDarkMode);
      if (sidebar) sidebar.classList.toggle("dark-mode", isDarkMode);
  
      tableElements.forEach(function (el) {
          el.classList.toggle("dark-mode", isDarkMode);
      });
  
      fontsToStyle.forEach(function (el) {
          el.classList.toggle("dark-mode", isDarkMode);
      });
  
      if (pairElement) pairElement.classList.toggle("dark-mode", isDarkMode);
      if (numberpairElement) numberpairElement.classList.toggle("dark-mode", isDarkMode);
  
      // Update the local storage with the new dark mode state
      localStorage.setItem("darkMode", isDarkMode.toString());
    }
  
    function applyInitialDarkMode() {
      var isDarkMode = localStorage.getItem("darkMode") === "true";
      var bodyElement = document.body;
      var sidebarElement = document.querySelector(".sidebar");
  
      if (bodyElement) bodyElement.classList.toggle("dark-mode", isDarkMode);
      if (sidebarElement) sidebarElement.classList.toggle("dark-mode", isDarkMode);
  
      var fontsToStyle = document.querySelectorAll(".dark-font");
      fontsToStyle.forEach(function (el) {
          el.classList.toggle("dark-mode", isDarkMode);
      });
  
      var pairElement = document.querySelector(".pair");
      if (pairElement) pairElement.classList.toggle("dark-mode", isDarkMode);
  
      var numberpairElement = document.querySelector(".numberpair");
      if (numberpairElement) numberpairElement.classList.toggle("dark-mode", isDarkMode);

      var numberpairElement = document.querySelector(".darkmodebutton");
      if (numberpairElement) numberpairElement.classList.toggle("dark-mode", isDarkMode);
  
      var tableElements = document.querySelectorAll("table, th, td");
      tableElements.forEach(function (el) {
          el.classList.toggle("dark-mode", isDarkMode);
      });
    }
  
    applyInitialDarkMode();
  </script>