<script src="https://kit.fontawesome.com/9d35a24d36.js" crossorigin="anonymous"></script>

<head>
    <title>Select Booking</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='/styles/styles.css') }}"/>
    <link rel="icon" href="{{url_for('static', filename='/images/RedLogoIcon.png')}}"/>
</head>

<div class="sidebar">
    <a href="/manager/account"><i class="fa-solid fa-house-chimney"></i>   Home</a>
    <a class="active" href="/manager/editbooking"><i class="fa-solid fa-clipboard-list"></i>   Booking Report</a>
    <a href="/manager/editcustomer"><i class="fa-solid fa-user-pen"></i>   Edit a Customer</a>
    <a href="/manager/manageholidays"><i class="fa-solid fa-gift"></i>   Upcoming Holidays</a>
    <a href="/logout"><i class="fa-solid fa-right-from-bracket"></i>   Log Out</a>
</div>

<body>
    <div class="content">
        <img class="one" onclick = "location.href = 'https://benjamano.pythonanywhere.com/';" src="{{ url_for('static',filename='/images/LongerRedLogo.png') }}"/>
        <center>
            <div class="pair">
                <h5>Select the booking</h5>
                <p>
                    <form method="POST" action="#">
                        <label for="Filter">Filter by Type:</label>
                        <select name="Filter" id="Filter">
                            <option value="Filter">Filter</option>
                            <option value="all">All</option>
                            <option value="Weekend Play AM">Weekend Play AM</option>
                            <option value="Weekend Play PM">Weekend Play PM</option>
                            <option value="Party AM">Party AM</option>
                            <option value="Party PM">Party PM</option>
                            <option value="Private Hire">Private Hire</option>
                        </select>
                        <p>
                            <label for="StartDate">Start Date:</label>
                            <input type="date" name="StartDate" id="StartDate">
                            <label for="EndDate">End Date:</label>
                            <input type="date" name="EndDate" id="EndDate">
                        </p>
                        <p>
                            <button class="filter" type="submit" name="Filter" value="Filter">Filter Results</button>
                        </p>
                    </p>
                    </form>
                    <center>
                        <table style="width:90%">
                            <tr>
                                <th>Name</th>
                                <th>Type</th>
                                <th>Date & Time</th>
                                <th>Details</th>
                                <th>Arrived</th>
                            </tr>
                            {% for booking in activebookings %}
                                <form action="#" method="POST">
                                    <input type="hidden" name="BookingID" value="{{ booking.0 }}">
                                    <input type="hidden" name="BookingDate" value="{{ booking.1 }}">
                                    <input type="hidden" name="BookingTime" value="{{ booking.2 }}">
                                    <input type="hidden" name="SessionType" value="{{ booking.3 }}">
                                    <input type="hidden" name="ExtraNotes" value="{{ booking.4 }}">
                                    <input type="hidden" name="BookingPrice" value="{{ booking.5 }}">
                                    <input type="hidden" name="NumberAdults" value="{{ booking.6 }}">
                                    <input type="hidden" name="NumberChildren" value="{{ booking.7 }}">
                                    <input type="hidden" name="FirstName" value="{{ booking.8 }}">
                                    <input type="hidden" name="LastName" value="{{ booking.9 }}">
                                    <tr>
                                        <td>{{ booking.8 }} {{ booking.9 }}</td>
                                        <td>{{ booking.3 }}</td>
                                        <td>{{ booking.1 }}<br>{{booking.2}}</td>
                                        <td><button class="select" type="submit">Details</button></td>
                                        </form>
                                            <td>
                                                <center>
                                                <form action="/manager/arrived" method="POST">
                                                    <input type="hidden" name="BookingID" value="{{ booking.0 }}">
                                                    <input type="hidden" name="Arrived" value="{{ booking.10 }}">
                                                    <button class="arrived {% if booking.10 == 'True' %}arrived-true{% else %}arrived-false{% endif %}" type="submit">{{ booking.10}}</button>
                                                </center>
                                            </td>
                                        </form>
                                    </tr>
                            {% endfor %}
                        </table>
                        <br>
                    </center>
                </div>
            </div>
        </center>
    </div>
</body>
